<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 class="text-center"><%= current_user.name %></h4>
      <%= image_pack_tag @user.avatar.url, class: 'rounded-circle mr15', width: '40', height: '40' %>
      <%= @user.history %>
      <%= @user.reason %>
      <%= link_to 'ユーザー編集ページ', edit_profile_path %>
    </div>
  </div>
  <div class="board-list jscroll">
    <div class="row">
      <% if @boards.present? %>
        <%= render partial: 'shared/mypage', collection: @boards, as: 'board' %>
      <% else %>
        <p>投稿はありません</p>
      <% end %>
      <%= paginate @boards %>
    </div>
  </div>
</div>
