<%= form_with model: user, url: profile_path, local: true do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'ニックネーム' %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>
  <div class="form-group">
  </div>
  <div class="form-group">
    <%= f.select :history, [['0年'], ['1年'], ['2年'], ['3年'], ['4年'], ['5年'], ['6年'], ['7年'],['8年'],['9年'], ['10年'], ['11年'], ['12年'], ['13年'], ['14年'], ['15年'], ['16年'], ['17年'], ['18年'], ['19年'], ['20年'], ['21年'], ['22年'], ['23年'], ['24年'], ['25年'], ['26年'], ['27年'], ['28年'], ['29年'], ['30年'], ['31年'], ['32年'], ['33年'], ['34年'], ['35年'], ['36年'], ['37年'], ['38年'], ['39年'], ['40年'], ['41年'], ['42年'], ['43年'], ['44年'], ['45年'], ['46年'], ['47年'], ['48年'], ['49年'], ['50年以上'] ], prompt: 'サーフィン歴を選択してください', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_area :reason, class: 'form-control', placeholder: 'はじめたきっかけ ※150文字まで' %>
  </div>
  <div class="actions">
  <%= f.submit '登録', class: 'btn btn-primary' %>
  </div>
<% end %>
