<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="btn-group">
      <%= link_to 'Home', root_path, class: 'nav-link' %>
      <%= link_to 'Mypage', profile_path, class: 'nav-link' %>
      <%= link_to 'Namikki', boards_path, class: 'nav-link' %>
      <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
      <%= link_to notices_path, class: 'nav-link' do %>
        <% if unchecked_notices.any? %>
          <span class="fa-stack">
          <i class="fas fa-bell fa-stack-2x" style="font-size: 1.5em"></i>
          <i class="fas fa-circle n-circle fa-stack-1x"></i>
          </span>
        <% else %>
          <i class="fas fa-bell fa-2x"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
