<div class="container">
  <div class="row">
    <div class="weather_list">
      <% @lists.first(4).each do |list| %>
        <%= list["dt_txt"] %>
        <%= list["weather"][0]["description"] %>
        <%= image_tag "http://openweathermap.org/img/w/#{list["weather"][0]["icon"]}.png", class: 'weather_img' %>
        <p>気温<%= list["main"]["feels_like"].truncate.to_s + "℃" %></p>
      <% end %>
    </div>
      <%= render 'shared/images' %>
  </div>
</div>
