<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class="title">お問い合わせフォーム</h1>
        <div class="form-group">
        <%= form_with url: contacts_path, method: :post, local: true do |f| %>
          <div class="form-group">
            <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
          </div>
          <div class="form-group">
            <%= f.text_field :title, class: "form-control", placeholder: "タイトル"%>
          </div>          
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", placeholder: "お問い合わせ内容"%>
          </div>
          <div class="actions">
            <%= f.submit '送信', class: "btn btn-primary" %>
          </div>
          <div class='form-links'>
            <%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path %><br />
            <%= link_to 'ユーザー登録がまだお済みでない方はこちら', new_user_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
