<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= board.user.name %></h5>
    <p class="card-text"><%= board.body %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= board.wave_size %></li>
    <li class="list-group-item"><%= board.point %></li>
    <li class="list-group-item"><%= l board.created_at, format: :long %></li>
  </ul>
  <div class="card-body">
    <p class="caption">
    <% if current_user.favorites.find_by(board_id: board.id) %>
      <%= render 'unfavorite', board: board %>
    <% else %>
      <%= render 'favorite', board: board %>
    <% end %>
   </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
      <%= render 'crud_menus', board: board %>
  </div>
</div>
