<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 class="text-center"><%= @board.user.name %></h4>
      <% if @board.user.avatar.url.present? %>
        <%= image_tag @board.user.avatar.url, class: 'avatar-img', size: '300x200' %>
      <% else %>
        <%= image_tag(asset_pack_path("media/images/sample.jpg"), class: 'avatar-img') %>
      <% end %>
      <%= @board.user.history %>
      <%= @board.user.reason %>
      <%= render 'crud_menus', board: @board if current_user.own?(@board) %>
      <ul class="list-inline">
        <li class="list-inline-item"><%= l @board.created_at, format: :long  %></li>
        <p><%= simple_format(@board.body) %></p>
      </ul>
    </div>
   </div>
</div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { board: @board, comment: @comment } %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>
