<div class="container">
  <div class="row">
    <div class="comment-layout col-lg-10 offset-lg-1">
    <%= link_to current_user.own?(@board) ? profile_path : user_path(@board.user) do %>
      <h1 class="title"><%= @board.user.name %></h1>
      <% if @board.user.avatar.url.present? %>
        <%= image_tag @board.user.avatar.url, class: 'avatar-img' %>
      <% else %>
        <%= image_tag(asset_pack_path("media/images/sample.jpg"), class: 'avatar-img') %>
      <% end %>
    <% end %>
      <div class="history">
        <p>サーフィン歴<%= @board.user.history %>年</p>
      </div>
      <div class="reason">
        <p>はじめたきっかけ</p>
        <%= @board.user.reason %>
      </div>
      <%= render 'crud_menus', board: @board if current_user.own?(@board) %>
      <ul class="list-inline">
        <li class="list-inline-item", style="margin-bottom: 5%"><%= l @board.created_at, format: :long %></li>
      <% if @board.image.url.present? %>
         <%= image_tag @board.image.url, class: 'card-img-top' %>
      <% else %>
         <%= image_tag(asset_pack_path("media/images/default.jpg"), class: 'card-img-top') %>
      <% end %>
        <p><%= simple_format(@board.body, class: 'board-body') %></p>
      </ul>
    </div>
   </div>
</div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { board: @board, comment: @comment } %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>
