<!DOCTYPE html>
<html>
  <head>
    <title>Namikki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@otokomigakimasu" />
    <meta property="og:url" content="https://namikki.herokuapp.com/" />
    <meta property="og:title" content="Namikki" /> 
    <meta property="og:description" content="伊良湖赤羽根エリアのサーフィン日記共有サービスです" /> 
    <meta property="og:image" content="https://namikki.herokuapp.com/packs/media/images/ogp-82c3ea9c0a0e40dbea787b9b7eede86e.jpeg" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BY6608KTBW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BY6608KTBW');
    </script>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
      <%= render 'shared/flash_message' %>
    <div class="description-img">
      <%= render 'shared/images' %>
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
